* {
    box-sizing: border-box;
    padding: 0;
}

.page-body {
    margin: 0 auto;
    max-width: 1280px;
}

.header-nav {
    margin: 0 auto;
    width: 620px;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-nav-item {
    padding: 31.5px 0;
}

.header-nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ff0000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
}

.main {
    display: flex;
    flex-direction: column;
}

.main-img {
    width: 100%;
}

.main-title {
    margin: 48px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.3px;
    color: #373737;
}

.main-text {
    margin: 38px 0 0;
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    color: #373737;
    letter-spacing: 2.4px;
}

.main-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 66px 0 48px;
    padding: 18px 0;
    width: 191px;
    background-color: #ff0000;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}
.main-btn:hover {
    cursor: pointer;
}

.footer-text {
    margin: 40px 105px 29px 0;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
}
